// --------------------------------
// GLOBAL
// --------------------------------
body {
  background-color: $color-gray-8;
  color: $base-font-color;
}

// --------------------------------
// APP CONTAINER
// --------------------------------
#app-container {
  background-color: $base-bg-color;
}


// --------------------------------
// APP HEADER
// --------------------------------
#app-header {
	background-color: $primary-color-dark;

  .page-title {
    color:$primary-text-inverted;
  }
}


// --------------------------------
// LISTS
// --------------------------------

.item-list {

	& > li {
	  border-bottom: 1px solid $color-gray-7;
	  &:last-child {
      border-bottom: none;
    }
	}
}

// --------------------------------
// BUTTONS, ICONS
// --------------------------------