#app-header {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: $z-index-appheader;
  height:  $app-header-height;
  padding: 0 $app-container-padding;

  //child layout
  display: flex;
  flex-flow: row nowrap;
  align-items:center;

  .header-center {
    flex: 1 0 auto;

    .page-title {
      @include truncate_text();
      padding-left: 1em;
      padding-right: 1em;
      text-align: center;
    }
  }
}
