// --------------------------------
// LAYOUT
// --------------------------------
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-main-content {
    flex: 1; 
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layout-centered {
  margin: 0 auto;
  max-width: $app-container-max-width / 2;
}

.full-height {
	height: 100%;
}
.min-full-height {
  min-height: 100%;
}
.block-padding {
	padding: .5em;
}

.centered {
	text-align: center;
}

// --------------------------------
// MODALS
// --------------------------------
.mask {
	display: block;
	position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: $z-index-mask;
 
}

// --------------------------------
// MOBILE
// --------------------------------

// src: https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
.momentum-scrolling {
  overflow-y: scroll; // has to be scroll, not auto
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: $tablet-break-point){
	.momentum-scrolling {
  overflow-y: auto; // remove scrollbar placeholder for larger viewports
  }
}